---
permalink: /
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>mtzlr.io</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if site.favicon_img %}
        <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
        {% endif %}
        <link rel="stylesheet" href="{{ "css/front.css" | prepend: site.baseurl }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <script src="https://kit.fontawesome.com/372f8684e5.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="content">
            {% if site.front_img %}
            <img src="{{ site.front_img_path }}" id="fullscreen">
            {% endif %}

            {% if site.avatar %}
                <img src="{{ site.avatar_img_path }}" id="avatar">
            {% endif %}

            <h1>{{ site.name }}</h1>
            <h3>{{ site.description }}</h3>

                <ul>
                    {% if site.github_username %}
                    <li><a class="fa-2x fa-brands fa-github" href="https://github.com/{{ site.github_username }}"><span class="description">GitHub</span></a></li>
                    {% endif %}

                    {% if site.mastodon %}
                    <li><a class="fa-2x fa-brands fa-mastodon" rel="me" href="{{ site.mastodon }}"><span class="description">Mastodon</span></a></li>
                    {% endif %}

                    {% if site.linkedin_username %}
                    <li><a class="fa-2x fa-brands fa-linkedin-in" href="https://linkedin.com/in/{{ site.linkedin_username }}"><span class="description">LinkedIn</span></a></li>
                    {% endif %}

                    {% if site.blog_url %}
                    <li><a class="fa-2x fa-solid fa-keyboard" href="{{ site.blog_url }}"><span class="description">Words</span></a></li>
                    {% endif %}

                    {% if site.public_key_url %}
                    <li><a class="fa-2x fa-solid fa-key" href="{{ site.public_key_url }}"><span class="description">Keybase</span></a></li>
                    {% endif %}

                    {% if site.public_key_url %}
                    <li><a class="fa-2x fa-solid fa-key" href="{{ site.lol_proven }}"><span class="description">lol</span></a></li>
                    {% endif %}
                </ul>
        </div>

    </body>
</html>
